Email/Email_Val.dtd

<!ELEMENT root (email+)>
<!ATTLIST root xmlns:xsi CDATA #REQUIRED>
<!ATTLIST root xsi:noNamespaceSchemaLocation CDATA #REQUIRED>
<!ELEMENT email (head, body)>
<!ATTLIST email num  CDATA #REQUIRED>
<!ELEMENT head (from, to, subject)>
<!ELEMENT from (name, adress)>
<!ELEMENT to (name, adress)>
<!ELEMENT subject (#PCDATA)>
<!ELEMENT body (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT adress (#PCDATA)>
