Arbol Genealogico/familia_val.dtd

<!ELEMENT arbol_genealogico (familia+)>
<!ATTLIST arbol_genealogico xmlns:xsi CDATA #REQUIRED>
<!ATTLIST arbol_genealogico xsi:noNamespaceSchemaLocation CDATA #REQUIRED>
<!ELEMENT familia (familiar+)>
<!ELEMENT familiar (familiar*)>
<!ATTLIST familiar
    nombre CDATA #REQUIRED
    relacion_mia CDATA #IMPLIED
>