Canciones/Canciones_val.dtd

<!ELEMENT redtube (playlist)>
<!ATTLIST redtube xmlns:xsi CDATA #REQUIRED>
<!ATTLIST redtube xsi:NamespaceSchemaLocation CDATA #REQUIRED>
<!ELEMENT playlist (cancion+)>
<!ATTLIST playlist
    nombre CDATA #REQUIRED
>
<!ELEMENT cancion (titulo, cantante, duracion, genero, album, anio)>
<!ATTLIST cancion
    num CDATA #REQUIRED
>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT cantante (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT album (#PCDATA)>
<!ELEMENT anio (#PCDATA)>